body{
	font-family: $main-font, Arial, sans-serif;
	color: $main-color;
}
.wraper{
	width: 60%;
}
h2{
	font-family: $main-font;
	font-size: 42px;
	margin-bottom: 92px;
	text-align: center;
}
h2 span{
	color: $main-color2;
}
span{
	font-weight: bold;
}
.textBox_flex{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.column_font{
	flex: 1 0 45%;
	margin: 0 25px;
	font-family: $main-font2;
	font-size: 14px;
	 line-height: 1.714;
  text-align: left;
}

.icon{
	display: inline-block;
	width: 33px;
	height: 32px;
	margin: 0 10px;
}
.icon_fb{
	@extend %fb;
	background-size: cover;
}
.icon_lnkdn{
	@extend %lnkdn;
	background-size: cover;
	height: 31px;
}
.icon_twtr{
	@extend %twtr;
	background-size: cover;
}
.icon:hover{
	transform: scale(1.2);
	transition: .5s;
}