.sec1{
	display: flex;
	flex-wrap: wrap;
	height: 852px;
	position: relative;
}

.sec1__bunner{
	width: 85%;
	background-color: #292732;
	order: 2;
	overflow: hidden;
	position: relative;
}
.bunner__h1{
	width: 65%;
	font-family: $main-font;
	font-size: 86px;
	color: #fff;
	position: absolute;
	top: 314px;
	left: 47px;
	z-index: 10;
}
.bunner__h1 span{
	color: $main-color2;
}
.layer_bg{
	background: url(../img/main-bg.jpg) center no-repeat;
	background-size: cover;
//	height: 873px;
	height: 100%;
}
.layer_fog{
		background: url(../img/fog1.png) right bottom no-repeat;
	background-size: contain;
opacity: 0.3;
	height: 873px;
	width: 100%;
}
.layer_sparks{
		background: url(../img/sparks.png) right bottom no-repeat;
	background-size: cover;
	opacity: 0.3;
	height: 873px;
	width: 100%;
}
.layer_god{
	width: 630px;
	height: auto;
}
.img_god{
	width: 100%;
	height: auto;
}
.sec1__navPannel_wrapper{
	width: 15%;
	order: 1;
	background-color: #fff;
}
.sec1__navPannel_wrapper,
.sec1__navPannel{
	height: 100%;
}
.navPannel__logo{
	background: url(../img/svg/parts/logo.svg) no-repeat;
	background-size: cover;
	width: 98px;
	height: 66px;
	margin-bottom: 112px;
	position: relative;
    left: 50%;
    margin-left: -49px;
}
.navPannel__nav{
	margin: 0 auto;
	padding-left: 30%;
}
.nav__item{
	display: block;
	width: 100%;
	margin-bottom: 106px;
	font-family: $main-font;
	font-weight: 400;
	font-size: 36px;
	color: $main-color;
	letter-spacing: -1px;
	position: relative;
	text-align: left;
}
.nav__item:hover{
	color: $main-color2;
}
.nav__hamburger{
	width: 38px;
	height: 20px;
	display: none;
	position: absolute;
	top: -72px;
	left: 57px;
}
.nav__line{
	display: block;
	width: 38px;
	height: 1px;
	background-color: #6a6a6a;
	margin: 9px 0;
}


