.sec3{
	padding-top: 108px;
}
.sec3__wraper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.sec3__h2{
	width: 76%;
}
.sec3__p{
	font-family: "GothamPro";
}
.sec3__img {
    width: 369px;
    position: relative;
    bottom: -23px;
    left: 0;
}