%svg-common {
	background: url("../img/svg/sprite.svg") no-repeat;
}

%fb {
	@extend %svg-common;
	background-position: 0 0.2%;
}


%lnkdn {
	@extend %svg-common;
	background-position: 0 27.5%;
}

%login {
	@extend %svg-common;
	background-position: 0 54.596328396915304%;
}

%quotes {
	@extend %svg-common;
	background-position: 0 75.30356750651062%;
}

%twtr {
	@extend %svg-common;
	background-position: 0 101%;
}

