$main-color: #393939;
$main-color2: #2038e6;
$main-font: "PlayfairDisplay";
$main-font2: "GothaProReg";

//
//%title-fonts{
//font-weight: bold;
//font-size: 20px;
//text-transform: uppercase;
//color: $title-color;
//}
//
//
//
//%paragr-fonts{
//font-weight: normal;
//font-size: 14px;
//color: $text-color;
//}
